/* nav {
  background-color: yellow;
  padding: 10px;

}

nav ul li {
  list-style: none;
  display: inline;
} */

body{
  background-image: url(https://media.istockphoto.com/vectors/cats-paw-print-cat-or-dog-paws-footsteps-prints-pets-footprints-and-vector-id1066633832?b=1&k=6&m=1066633832&s=612x612&h=0A-XIvzYLPQcEHu0VL4x3VMPuNPsXyJpekOk-u_hGLQ=)
}

.cat-gif{
  width: 32%;
  border: solid;
  border-width: 6px;
  border-color: lime green


}
h1 {
  font-size: 60px;
  text-align: center;
  border-style: solid;
  background-color: rgb(235,54,128);
  font-family: ComicSansMS, cursive, sans-serif

}

#title {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.cat-image {
  width: 90%;
  border: solid;
  border-color: yellow;
  border-width: 5px;
  border-style: dashed;

}

.catname{
  display: block;
  font-size: 30px;
  padding-bottom: 10px;
  font-family: ComicSansMS, cursive, sans-serif

}

.cat1 , .cat2 , .cat3 {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: rgb(235,54,128);
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  font-family: ComicSansMS, cursive, sans-serif

}
.under-construction{
  display: flex;
  justify-content: center;
}

.under-construction img {
  border-style: solid;
  border-color: black;
  border-width: 5px;
}
